<div class="curriculum">
<h1>Curriculum Vitae</h1>
<h2>Profile</h2>
<p>Restless creative seeks opportunity as a software developer after having just completed a journey to take programming skills to the next level.</p>

<h2>Skills</h2>
<p>Technical: Ruby, Ruby on Rails, JavaScript, CSS, HTML, Git.</p>
<p>Visual Arts: Drawing, Lithography, Screenprint.</p>

<h2>Projects</h2>
<p>Jiwar Artist Residency, Barcelona, Collaborative artist 2015</p>

<p>The Library Project, Dublin | www.collection.photoireland.org, Intern 2013</p>
<p>Oversaw the sale of photography books and assisted with exhibition installation.</p>

<p>Rua Red, Dublin | www.ruared.ie, Artist Mentor 2012</p>
<p>Monitored and advised artists with mental disabilities and/or mental illnesses.</p>

<p>Fight Night, Kusanta Bar and Restaurant, Dublin, Volunteer 2012</p>
<p>While working as a bartender, helped raise money for the healthcare costs of a young girl in the local area by training to take part in a boxing match with a colleague that took part in the bar.</p>

<h2>Employment History</h2>

<p>Communicative People, A Piece of Cake English, ESL teacher</p>
<p>2015 – present | Barcelona, Spain</p>

<p>- Working with diverse groups of students and creating systems to effectively cater to individual and common needs.</p>
<p>- Proofreading documents: speaking with students about what goes on in their company, what their intentions are for presentations and texts, presenting and explaining options for their documents in English, helping students to choose suitable alternatives in their target languages.</p>
<p>- Planning lessons, accumulating knowledge about students’ native language, anticipating problems based on students’ native language and psychological barriers.</p>
<p>- Programming class schedules while working with different companies.</p>

<h2>Languages</h2>

<p>English - native speaker</p>
<p>Spanish - advanced</p>

<h2>Education</h2>

<p>Le Wagon Bootcamp</p>
<p>2019 | Barcelona, Spain</p>
<p>I took part in an intensive 9-week Ruby-based bootcamp.</p>

<p>National College of Art and Design, Dublin, B.A. in Fine Art Printmaking</p>
<p>2013 | Dublin, Ireland</p>
<p>Upper Second-Class Honours</p>

<p>Eina, a recognised college of UAB, Postgraduate in Illustration</p>
<p>2017 | Barcelona, Spain</p>

<p>Global Language Training, TEFL Teacher Certificate 2015 | Online</p>
</div>
