<div class="about">
<h1 class="text-center">Hello, how are you?</h1>

<p>Thank you so much for taking a look at my website! Let me introduce myself. My name is Josephine Geoghegan, I am based in Barcelona but I moved here from my home country, Ireland, in 2015. I should preface this by saying that I have always thrown myself into things head-first in order to understand what I am passionate about, and what suits me. Let me explain how I have gone from aspiring artist, to teacher, to “programmer”…(A programmer looking to get more experience!)</p>

<p>I always felt like I would need to have a creative career. I studied fine art and illustration. I appreciated the background it gave me in lateral thinking, but unfortunately I still felt like I wanted to do something more practical and disciplined. I began teaching as an English teacher and found that it gave me that discipline I was looking for, as well as being very gratifying. I found that my favourite part of doing a lesson was planning it, creating new materials and discovering new apps or new ways of laying out lessons that were more interesting or effective. It was fun playing around with little pieces of paper, and gave me the opportunity to try out what would work with my students. However, I still really wanted to create something that felt more tangible out of these experiments.</p>

<p>I realised that programming was a way to create something from this that felt a little bit more real. I took part in an intensive nine-week program based on Ruby on Rails. This was amazing, and it has given me access to a whole new realm of possibility.</p>

<p>What I would really like to do now is have the opportunity to be around people who can teach me more so I can hone my skills. I would love to contribute projects on a real team in any small way that I could. I am willing to put in all of the hours that might be necessary to teach myself other languages that are appropriate for your business. I have put this website together to introduce myself and explain a little about how I think. If you feel like you are interested in working with me, I am incredibly flattered and eager to speak with you!</p>
</div>
